---
import ExperienceCards from '../components/ExperienceCards.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="The Hub">
	<div class="py-11">
		<section>
		<ExperienceCards />
		</section>
	</div>

</Layout>