---
import SeriesCards from '../components/SeriesCards.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="The Hub">
	<div class="py-11">
		<section>
		<SeriesCards />
		</section>
	</div>

</Layout>